{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 8,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 100,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "proseWrap": "preserve",
  "endOfLine": "lf"
}